BurnMan/Resources/cdrdao-bundle/* filter=lfs diff=lfs merge=lfs -text
BurnMan/Resources/ffmpeg-bundle/* filter=lfs diff=lfs merge=lfs -text
BurnMan/Resources/dvdrwtools-bundle/* filter=lfs diff=lfs merge=lfs -text
